/**
 * @package WordPress
 * @subpackage Willbridge
 * @since Willbridge 1.0
 * 
 * Stylesheet for Visual Editor
 * Created by CMSMasters
 * 
 */


img.alignleft {margin:0 20px 20px 0;}

img.alignright {margin:0 0 20px 20px;}

img.aligncenter {margin-bottom:20px;}
